################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ConsoleAppTest/.vs
/ConsoleAppTest/ConsoleAppTest/obj
